h1{
    color: darkgoldenrod;
    border: 3px solid darkolivegreen;
    border-width: 2px; 
}



.p1{
    
    background-color: darkolivegreen;
    width: 50%;
    margin-left: 10%;
    border-color:rgb(175, 7, 1) ; 
    padding: 2%;
    float: left;
    margin-right: 1px;
    margin-bottom: 10px;
}
#p2
{
    
    
    width: 25.5%;
    background-color: darkgoldenrod;
    height: 229px;
    border-color: rgb(196, 49, 4);
    float: right;
    padding: 2%;
    margin-right: 5%;
   margin-left: 5px;
    
    margin-bottom: 2px;
}
.p3{
    border-width: 1cm;
    background-color: darkolivegreen;
    width: 50%;
    float: right;
    padding: 2%;
    margin-right: 75px;
    
    margin-top: 1px;
    
}
#p4 
{
    border-width: 1cm;
    background-color: darkgoldenrod;
    width: 27.5%;
    height: 226px;
    float: left;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 10%;
    margin-top: 1px;
    margin-bottom: 3%;
}
