body
{
    background-color:rgb(1, 1, 42) ;
}
.display{
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    background-color: rgb(34, 34, 87);
    width: 700px;
    height: 250px;
    border-radius: 50px;

    justify-content: center;
    align-items: center;
    margin-left: 400px;
    gap: 2px;
    margin-bottom: 2px;
    
}
h1{
    color: rgb(255, 255, 255);
    margin: 0;
    font-size:large;
}



img{
    margin-left: 3%;
    border-radius: 100px;
    
}
#tab
{
 position: relative;
 background-color:rgb(238, 191, 83); 
 border-radius: 50px;
 width: 500px;
 height: 250px;
}
h2{
    color: rgb(25, 97, 157);
    padding: 20px;
    
}
#tab p{
    position: absolute;
    color: rgb(75, 9, 9);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;  
    
}
.intro{
    background-color: rgb(71, 1, 1);
    border-radius: 50px;
    width: 500px;
    height: 250px;
    float: right;
}
.intro p{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(238, 191, 83); 
    text-align:center;
}
.intro h3{
    color: rgb(25, 97, 157);
    padding: 10px;

}