*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card{
    overflow: hidden;
    position: relative;
   width: 310px;
   height: 347px;
   border-radius: 10px;
   margin: 10px;

   
}
.card .x{
    object-fit: cover; 
}
.background{
    position: absolute;
    top: 0;
    left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, #0000009b, #00000000 ); 
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.top{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    flex-direction:row;
}
.airline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  
}
.turkish {
    width: 23px;
    height: 23px;
}
.rate{
    color: white;
    background-color: darkgoldenrod;
    border-radius: 5px;
    width: 34px;
    height: 30px;
    margin: 12px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 1px;
}
.bottom{
   display: flex;
    width: 100%;
    height: 150px;  
    direction: rtl;
   color: white;
    flex-direction: column;
   justify-self: center;
   
}
.detail{
    color: white;
    direction: rtl;
    margin: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: center;
    margin: 30px;
}
.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    
}
.date{
    order: 3;
}
.night{
    order: 2;
}
.day{
    order: 1;
}
.end{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 12px;
}
.cta{
    width: 100px;
    height: 25px;
    background-color: hsla(131, 5%, 40%, 0.671);
    color: white;
}